.cart_content{
  background-color: black;
}
.no_items{
  color: #f1c116;
}
.cart_banner{
  background: #f1c116;
  width: 100%;
  height: 15vh;
  margin: 0;
}
.banner_text{
  margin: 0;
  padding-top: 5vh;
}