.about_page{
  display: flex;
  flex-wrap: wrap;
  background: #000000;
}
.header_container{
  position: relative;
}
.banner_pic{
  width: 96vw;
  height: 25vh;
  background: -webkit-linear-gradient(230deg, #000000 0%, #EDBE15 45%, #D1A813 56%, #000000 100%);
}
.about_us{
  float: left;
  color: black;
  position: absolute;
  z-index: 100;
  left: 23vw;
  top: 4vh;
  font-family: 'Roboto-Condensed';
  font-size: 5em;
}
.left_about{
  background: black;
  color: white;
  width: 60vw;
  text-align: left;
  padding: 30px 50px;
  font-family: 'Noto Serif JP', sans-serif;
}
.right_about{
  text-align: left;
  width: 25vw;
}
.contact_info{
  background-color: black;
  color: #D1A813;
  padding: 10px;
  margin: 10px;
}
.hours_container{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: #D1A813;
  padding: 10px;
  margin: 10px;
}
.days{
  width: 10vw;
}
.times{
  width: 10vw;
}
.about_map{
  border: solid black 1px;
  width: 89vw;
  height: 30vh;
  margin-top: 0;
  margin-left: 1vw;
}
.about_text{
  margin-top: 35px;
}
.gy_diff{
  margin-top: 5vh;
}
.filler{
  color: transparent;
}
.diff{
  color: white;
  list-style-type: square;
}