.landing{
  display: flex;
  background: black;
}
.sales{
  border: 1px solid black;
  width: 48vw;
  height: 90vh;
}
.mower_img{
  height: 100%;
  width: 100%;
}
.blades_img{
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1025px) {
  .landing{
    flex-wrap: wrap;
  }
  .sales{
    width: 95vw;
    height: 60vh;
    margin-bottom: 5vh;
  }
}
